// Defaults
@import "defaults/variables.scss";
@import "defaults/resets.scss";
@import "defaults/functions.scss";

// Components
@import "components/header.scss";
@import "components/buttons.scss";
@import "components/banners.scss";
@import "components/sections.scss";
@import "components/weoffer.scss";
@import "components/equipment.scss";
@import "components/services.scss";
@import "components/gallery.scss";
@import "components/footer.scss";
@import "components/contactform.scss";
@import "components/contact.scss";

// Style 
html {
    scroll-behavior: smooth;
  }
@media (min-width: map-get($breaks, "xxl")) {
    .container {
        max-width: 1540px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (min-width: map-get($breaks, "xxxl")) {
    .container {
        max-width: 1680px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.section-subpage {
    table {
        border: 0;
        tbody {
            tr:first-child {
                td {
                    padding: 1.25rem 2.5rem;
                    font-size: 17px;
                    color: var(--secondary-color) !important;
                    font-weight: 500;
                    @media (max-width: map-get($breaks, "md")) {
                        padding: 1.25rem 1rem;
                    }
                }
            }
        }
        @media (max-width: map-get($breaks, "md")) {
            td {
                padding: .75rem 1rem !important;
            }
        }
    }
}