// Defaults
@import "defaults/variables.scss";
@import "defaults/resets.scss";
@import "defaults/functions.scss";

// Components
@import "components/header.scss";

// Style 
@media (min-width: map-get($breaks, "xxl")) {
    .container {
        max-width: 1540px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .container-split-left {
        max-width: 775px;
        margin-left: auto;
        margin-right: 0;
    }
}