// Defaults
@import "defaults/variables.scss";
@import "defaults/resets.scss";
@import "defaults/functions.scss";

// Components
@import "components/header.scss";
@import "components/buttons.scss";
@import "components/banners.scss";
@import "components/services.scss";
@import "components/sections.scss";
@import "components/about.scss";
@import "components/numbers.scss";
@import "components/news.scss";
//@import "components/gallery.scss";
//@import "components/brands.scss";
@import "components/footer.scss";
@import "components/breadcrumb.scss";
@import "components/pagination.scss";
//@import "components/contactform.scss";
@import "components/subpage.scss";

// Pages
//@import "pages/subpage.scss";
//@import "pages/contact.scss";

// Style 
@media (min-width: map-get($breaks, "xxl")) {
    .container {
        max-width: 1540px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .container-split-left {
        max-width: 775px;
        margin-left: auto;
        margin-right: 0;
    }
}
.dropdown-hover:hover .dropdown-hover-menu {
    display: block !important;
}
.dropdown-hover:hover > a {
    color: var(--highlight-color) !important;
}