:root {
  --table-color: #f6f9fc;
  --table-header-color: #e8f2fc;
  --primary-color: #000;
  --secondary-color: #ffffff;
  --paragraph-color: #000;
  --menu-color: #000;
  --highlight-color: #55caf5;
  --button-color: #103683;
  --background-color: #ffffff;
  --background-secondary-color: #e8f2fc;
  --section-preTitle-background-color: #f4f4f4;
  --section2-preTitle-background2-color: #ffffff;
  --section-preTitle-color: #575656;
  --services-boxes-color: #f1f8fd;
  --news-date-color: #ababab;
  --border-color: #f6f9fc;
  --news-border-color: #eaecf0;
  --highlight-light-color: #e1f3ff;
  --socials-icon-color: #343434;
  --footer-icon-color: #808080;
  --footer-color: #c9b6a6;
  --copyright-color: #a2a2a2;
  --border-radius: 10px;
  --numbers-number-color: #55caf5;
  --link-color: #55caf5;
  --numbers-number-background: #fff;
  --font: "Poppins", sans-serif;
  --font2: "Barlow Condensed", sans-serif;
  --button-radius: 25px;
  --border-radius: 20px;
  --input-radius: 5px;
  --gallery-radius: 10px;
  --popup-radius: 15px;
  --section-light-color: #f3f8fd;
  --line-color-light: #ffffff38;
  --header-background: url("../img/section-breadcrumb-image.png");
}

* {
  font-family: var(--font);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
  color: var(--link-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  font-family: var(--font2);
}

p, li {
  color: var(--paragraph-color);
  font-size: 16px;
  line-height: 30px;
}

input, textarea {
  outline: none;
  box-shadow: none;
}

.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.owl-carousel .owl-nav button {
  background: none !important;
  box-shadow: none !important;
  outline: none !important;
}

@keyframes shake {
  0% {
    transform: rotateZ(0);
  }
  10% {
    transform: rotateZ(-30deg);
  }
  20% {
    transform: rotateZ(15deg);
  }
  30% {
    transform: rotateZ(-10deg);
  }
  40% {
    transform: rotateZ(7.5deg);
  }
  50% {
    transform: rotateZ(-6deg);
  }
  60% {
    transform: rotateZ(5deg);
  }
  70% {
    transform: rotateZ(-4.2857142857deg);
  }
  80% {
    transform: rotateZ(3.75deg);
  }
  90% {
    transform: rotateZ(-3.3333333333deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
.header {
  background-color: var(--background-color);
}
.header-message {
  position: relative;
  border-bottom: 1px solid var(--border-color);
  padding: 1rem 5rem 1rem 2rem;
}
@media (max-width: 991px) {
  .header-message {
    padding: 1rem 2rem 1rem 2rem;
  }
}
.header-message-content {
  width: fit-content;
  width: -moz-fit-content;
  margin: 0 auto;
  background-image: url("../img/icon-info-grey.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 2.25rem;
}
.header-message-content p {
  margin-bottom: 0;
  font-size: 15px;
  color: var(--primary-color);
}
@media (max-width: 991px) {
  .header-message-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .header-message-content {
    background-position: center top;
    padding-left: 0;
    padding-top: 2rem;
    text-align: center;
  }
}
.header-message-close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
  border: 1px solid var(--border-color);
  padding: 0.25rem;
  border-radius: 50%;
  transition-duration: 0.15s;
}
.header-message-close svg, .header-message-close path {
  transition-duration: 0.15s;
  fill: var(--border-color);
}
.header-message-close:hover {
  border-color: var(--highlight-color);
}
.header-message-close:hover svg, .header-message-close:hover path {
  fill: var(--highlight-color);
}
@media (max-width: 991px) {
  .header-message-close {
    position: unset;
    width: fit-content;
    width: -moz-fit-content;
    transform: none;
    margin-top: 0.4rem;
  }
}
@media (max-width: 991px) {
  .header-logo {
    margin-left: 1rem;
    max-width: 40%;
  }
  .header-logo img {
    margin-right: 1rem;
  }
  .header .navbar-toggler {
    margin-right: 0.8rem;
  }
}
.header-nav {
  padding: 1.5rem 0;
}
@media (max-width: 1200px) {
  .header-nav {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 991px) {
  .header-nav {
    justify-content: space-between;
    padding: 1.5rem 0 1.5rem;
  }
}
.header #nav .navbar-nav {
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 1200px) {
  .header #nav .navbar-nav {
    margin: 0 auto;
  }
}
@media (max-width: 991px) {
  .header #nav .navbar-nav > .nav-item {
    border-top: 1px solid var(--border-color);
  }
  .header #nav .navbar-nav .dropdown-hover > a {
    display: flex;
  }
  .header #nav .navbar-nav .dropdown-hover > a::after {
    margin-left: auto;
  }
}
.header #nav .nav-item.dropdown-hover:hover .dropdown-hover-menu {
  display: block !important;
}
.header #nav .nav-item.dropdown-hover > a::after {
  background-image: url("../img/arrow-dropdown-black.png");
  background-repeat: no-repeat;
  background-position: right center;
  content: "";
  padding-left: 1.25rem;
}
.header #nav .nav-item .dropdown-hover {
  position: relative;
}
.header #nav .nav-item .dropdown-hover-menu {
  position: absolute;
  display: none;
  z-index: 1000;
  margin-left: 1rem;
  padding-top: 0.5rem;
}
@media (max-width: 991px) {
  .header #nav .nav-item .dropdown-hover-menu {
    margin-left: 0;
    margin-bottom: 0.65rem;
    padding-top: 0.65rem;
    border-top: 1px solid var(--border-color);
  }
}
.header #nav .nav-item .dropdown-hover-menu > div {
  padding: 1.5rem 1.75rem;
  background-color: var(--background-color);
  border: 1px solid var(--background-secondary-color);
  border-radius: var(--border-radius);
}
@media (max-width: 991px) {
  .header #nav .nav-item .dropdown-hover-menu > div {
    padding: 0 1rem;
    border: 0;
  }
  .header #nav .nav-item .dropdown-hover-menu > div svg {
    display: none;
  }
}
@media (max-width: 991px) {
  .header #nav .nav-item .dropdown-hover-menu {
    position: unset;
    text-align: center;
  }
}
.header #nav .nav-item .dropdown-hover-item {
  color: var(--primary-color);
  transition-duration: 0.15s;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  min-width: 275px;
}
.header #nav .nav-item .dropdown-hover-item svg {
  fill: var(--highlight-color);
  margin-right: 0.75rem;
}
.header #nav .nav-item .dropdown-hover-item svg path {
  fill: var(--highlight-color);
}
.header #nav .nav-item .dropdown-hover-item:hover {
  color: var(--highlight-color);
  text-decoration: none;
}
@media (max-width: 991px) {
  .header #nav .nav-item .dropdown-hover-item {
    line-height: 30px;
    font-weight: 400;
    min-width: unset;
  }
}
.header #nav .nav-item .nav-link {
  color: var(--menu-color);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.75rem 1rem;
  text-decoration: none;
  position: relative;
}
@media (max-width: 991px) {
  .header #nav .nav-item .nav-link {
    margin-right: 0;
    padding: 0.65rem 1rem;
    font-size: 15px;
  }
}
.header #nav .nav-item .nav-link::before {
  content: "";
  width: calc(100% - 1.5rem);
  height: 3px;
  position: absolute;
  left: 0.75rem;
  right: 0.75rem;
  bottom: 0.25rem;
  background: var(--highlight-color);
  transition: 0.5s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
}
@media (min-width: 991px) {
  .header #nav .nav-item .nav-link:hover::before {
    transform: scale3d(1, 1, 1);
  }
}
.header #nav .nav-item.active .nav-link, .header #nav .nav-item .nav-link:hover {
  color: var(--highlight-color);
}
@media (max-width: 768px) {
  .header #nav .nav-item {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .header #nav {
    padding-left: 0rem;
    padding: 0.75rem 0;
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .header #nav {
    padding: 1.25rem 0 0.5rem;
  }
}
.header-rightbox {
  flex-shrink: 0;
}
.header-rightbox > div, .header-rightbox > a, .header-rightbox .button-custom {
  border-radius: 30px;
}
.header-rightbox > *:not(:last-child) {
  margin-right: 0.5rem;
}
@media (max-width: 1400px) and (min-width: 1200px) {
  .header-rightbox {
    flex-direction: column;
  }
  .header-rightbox > *:not(:last-child) {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}
.header-rightbox-phone {
  background-color: var(--section-light-color);
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
  padding: 0.4rem 1.5rem 0.4rem 0.4rem;
  transition: 0.15s;
}
.header-rightbox-phone-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.75rem;
  background-color: var(--highlight-color);
  border-radius: 50%;
  height: 43px;
  width: 43px;
  flex-shrink: 0;
}
.header-rightbox-phone:hover {
  color: var(--highlight-color);
  text-decoration: none;
}
.header-rightbox-order .button-custom {
  height: 100%;
  text-transform: none;
  letter-spacing: 0;
  font-size: 16px;
  font-weight: 500;
  padding: 0.87rem 1.75rem;
}
.header .navbar-toggler {
  padding-right: 0;
  padding-top: 0;
  margin-top: -0.25rem;
}
.header .animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  transform: rotate(0deg);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.header .animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  background: var(--highlight-color);
}
.header .animated-icon span:nth-child(1) {
  top: 0px;
}
.header .animated-icon span:nth-child(2) {
  top: 10px;
}
.header .animated-icon span:nth-child(3) {
  top: 20px;
}
.header .animated-icon.open span:nth-child(1) {
  top: 11px;
  transform: rotate(135deg);
}
.header .animated-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.header .animated-icon.open span:nth-child(3) {
  top: 11px;
  transform: rotate(-135deg);
}

.button-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  width: -moz-fit-content;
  font-size: 12px;
  letter-spacing: 0.1rem;
  padding: 0.8rem 2.25rem;
  text-align: center;
  border: 2px solid;
  transition: 0.25s;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: var(--button-radius);
}
.button-custom:hover {
  text-decoration: none;
}

.button-custom-darkblue {
  background-color: var(--button-color);
  color: var(--secondary-color);
  border-color: var(--button-color);
}
.button-custom-darkblue:hover {
  background-color: var(--button-color);
  color: var(--button-color);
  box-shadow: inset 15rem 0 0 0 var(--secondary-color);
}
.button-custom-darkblue:hover svg, .button-custom-darkblue:hover path {
  fill: var(--button-color) !important;
}

.button-custom-lightblue {
  background-color: var(--highlight-color);
  color: var(--secondary-color);
  border-color: var(--highlight-color);
}
.button-custom-lightblue:hover {
  background-color: var(--highlight-color);
  color: var(--highlight-color);
  box-shadow: inset 15rem 0 0 0 var(--secondary-color);
}
.button-custom-lightblue:hover svg, .button-custom-lightblue:hover path {
  fill: var(--highlight-color) !important;
}

.button-custom-icon svg, .button-custom-icon img {
  margin-right: 0.5rem;
}

.homepage-banner {
  position: relative;
}
@media (max-width: 768px) {
  .homepage-banner {
    text-align: center;
  }
}
.homepage-banner-inner {
  position: relative;
}
.homepage-banner-inner .homepage-banner-background-1, .homepage-banner-inner .homepage-banner-background-2, .homepage-banner-inner .homepage-banner-background-3::before, .homepage-banner-inner .homepage-banner-background-3::after {
  background-color: var(--background-secondary-color);
  content: "";
  z-index: 1;
  position: absolute;
  display: block;
  border-radius: var(--border-radius);
}
.homepage-banner-inner .homepage-banner-background-1 {
  top: 0;
  left: 13rem;
  right: 2.75rem;
  bottom: 0;
}
@media (max-width: 991px) {
  .homepage-banner-inner .homepage-banner-background-1 {
    right: 0;
  }
}
@media (max-width: 576px) {
  .homepage-banner-inner .homepage-banner-background-1 {
    left: 8rem;
  }
}
.homepage-banner-inner .homepage-banner-background-2 {
  top: 0;
  left: 0;
  right: 2.75rem;
  bottom: 4rem;
}
.homepage-banner-inner .homepage-banner-background-3::after {
  bottom: 0;
  left: 9rem;
  width: 30px;
  height: 30px;
  right: 30px;
  border-top-right-radius: 20px;
  border: 32px solid #fff;
}
@media (max-width: 576px) {
  .homepage-banner-inner .homepage-banner-background-3::after {
    left: 4rem;
  }
}
.homepage-banner-inner .homepage-banner-background-3::before {
  bottom: 45px;
  left: 11rem;
  width: 40px;
  height: 40px;
}
@media (max-width: 576px) {
  .homepage-banner-inner .homepage-banner-background-3::before {
    left: 7rem;
  }
}
.homepage-banner-owl {
  z-index: 2;
}
.homepage-banner-owl .owl-nav {
  position: absolute;
  bottom: 0.4rem;
  left: 5.85rem;
  display: flex;
  margin-top: 0;
}
@media (max-width: 576px) {
  .homepage-banner-owl .owl-nav {
    left: 0.85rem;
  }
}
.homepage-banner-owl .owl-nav > button {
  border: 2px solid var(--background-secondary-color) !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin: 0 !important;
  border-radius: 50% !important;
  transition: 0.15s all;
}
.homepage-banner-owl .owl-nav > button.owl-next {
  transform: rotate(180deg);
}
.homepage-banner-owl .owl-nav > button:not(:last-child) {
  margin-right: 0.25rem !important;
}
.homepage-banner-owl .owl-nav > button:hover {
  border-color: var(--button-color) !important;
}
.homepage-banner-item {
  position: relative;
}
.homepage-banner-item-image {
  max-width: 65%;
  margin-left: auto;
}
@media (max-width: 991px) {
  .homepage-banner-item-image {
    max-width: 100%;
    margin: 0 3rem;
  }
}
@media (max-width: 768px) {
  .homepage-banner-item-image {
    margin: 0 2rem;
  }
}
@media (max-width: 576px) {
  .homepage-banner-item-image {
    margin: 0 1.5rem;
  }
}
.homepage-banner-item-image img {
  border-radius: var(--border-radius);
  margin-bottom: 2rem;
  height: 700px;
  width: 1070px !important;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: auto;
}
@media (max-width: 1800px) {
  .homepage-banner-item-image img {
    width: 980px !important;
  }
}
@media (max-width: 1601px) {
  .homepage-banner-item-image img {
    width: 700px !important;
  }
}
@media (max-width: 1200px) {
  .homepage-banner-item-image img {
    width: 500px !important;
  }
}
@media (max-width: 991px) {
  .homepage-banner-item-image img {
    width: 100% !important;
    height: 300px;
    margin-bottom: 7rem;
  }
}
@media (max-width: 768px) {
  .homepage-banner-item-image img {
    margin-bottom: 5.75rem;
  }
}
.homepage-banner-item-content {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(0, -50%);
}
@media (max-width: 1601px) {
  .homepage-banner-item-content {
    top: 42.5%;
  }
}
@media (max-width: 991px) {
  .homepage-banner-item-content {
    transform: none;
    position: unset;
    padding: 3rem 0;
  }
}
@media (max-width: 768px) {
  .homepage-banner-item-content {
    padding: 3rem 1.5rem;
  }
}
.homepage-banner-item-content-limit {
  max-width: 40%;
}
@media (max-width: 1601px) {
  .homepage-banner-item-content-limit {
    max-width: 50%;
  }
}
@media (max-width: 1200px) {
  .homepage-banner-item-content-limit {
    max-width: 60%;
  }
}
@media (max-width: 991px) {
  .homepage-banner-item-content-limit {
    max-width: 100%;
  }
}
.homepage-banner-item-content h2 {
  font-size: 90px;
  line-height: 85px;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 2.5rem;
}
@media (max-width: 768px) {
  .homepage-banner-item-content h2 {
    font-size: 55px;
    line-height: 60px;
  }
}
@media (max-width: 576px) {
  .homepage-banner-item-content h2 {
    font-size: 50px;
    line-height: 55px;
  }
}
.homepage-banner-item-content p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: var(--primary-color);
  margin-right: 7.5rem;
  margin-bottom: 2rem;
}
@media (max-width: 991px) {
  .homepage-banner-item-content p {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .homepage-banner-item-content p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
  }
}
.homepage-banner-popup {
  position: absolute;
  z-index: 2;
  right: -2rem;
  top: 50%;
  transform: translate(0, -50%);
  background-color: var(--background-color);
  box-shadow: 2.93px 8.51px 29px 0px rgba(0, 0, 0, 0.08);
  border-radius: var(--popup-radius);
  padding: 1.5rem 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 280px;
}
@media (max-width: 991px) {
  .homepage-banner-popup {
    position: unset;
    max-width: 100%;
    transform: none;
    margin-top: 3rem;
  }
}
.homepage-banner-popup h3 {
  font-size: 38px;
  text-align: center;
  margin: 1rem 0;
}
.homepage-banner-popup h3 span {
  font-family: var(--font2);
  font-weight: 600;
}
@media (max-width: 576px) {
  .homepage-banner-popup h3 span {
    display: block;
  }
}

.subpage-banner-breadcrumb ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.subpage-banner-breadcrumb ul li:not(:last-child)::after {
  content: "/";
  margin: 0 0.5rem 0 0.25rem;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
}
.subpage-banner-breadcrumb ul li a {
  color: var(--primary-color);
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
}
.subpage-banner-breadcrumb ul li.active a {
  color: var(--button-color);
}
.subpage-banner-inner {
  background-image: var(--header-background);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6rem 0 6rem;
  border-radius: var(--popup-radius);
}
.subpage-banner-inner h1 {
  color: var(--primary-color);
  font-size: 70px;
  margin-bottom: 1.5rem;
}
@media (max-width: 991px) {
  .subpage-banner-inner h1 {
    margin-bottom: 0rem;
  }
}
@media (max-width: 576px) {
  .subpage-banner-inner h1 {
    font-size: 45px;
    line-height: 50px;
  }
}
@media (max-width: 991px) {
  .subpage-banner-inner {
    padding: 5rem 0;
  }
}
@media (max-width: 576px) {
  .subpage-banner-inner {
    padding: 3rem 0;
  }
}
@media (max-width: 768px) {
  .subpage-banner-inner {
    text-align: center;
  }
}

.theme-section {
  padding: 6rem 0;
}
@media (max-width: 768px) {
  .theme-section {
    padding: 4rem 0;
  }
}
.theme-section-header-small {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.theme-section-header h2 {
  font-size: 70px;
  line-height: 70px;
  font-weight: 500;
  margin-bottom: 3.5rem;
}
@media (max-width: 768px) {
  .theme-section-header h2 {
    font-size: 55px;
    line-height: 55px;
  }
}
.theme-section-header h2 span {
  font-family: var(--font2);
}
@media (min-width: 1200px) {
  .theme-section-header h2 span {
    display: block;
  }
}
@media (max-width: 768px) {
  .theme-section-header {
    text-align: center;
  }
}
.theme-section-reducedPadding {
  padding: 1rem 0;
}
.theme-section-output > *:first-child {
  margin-top: 0;
}
.theme-section-output > *:last-child {
  margin-bottom: 0;
}
.theme-section-output p, .theme-section-output li, .theme-section-output td, .theme-section-output th {
  font-family: var(--font);
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: var(--primary-color);
}
.theme-section-output table {
  width: 100%;
}
.theme-section-output table thead tr {
  background-color: var(--table-header-color);
}
.theme-section-output table thead tr th {
  font-weight: 500;
}
.theme-section-output table tbody tr:nth-child(odd) {
  background-color: var(--table-color);
}
.theme-section-output table th, .theme-section-output table td {
  padding: 0.75rem 2.5rem;
}
.theme-section-output ul {
  padding: 0;
}
.theme-section-output ul li {
  list-style: none;
  display: flex;
  align-items: flex-start;
}
.theme-section-output ul li::before {
  content: "";
  display: block;
  width: 15px;
  height: 2px;
  background-color: var(--highlight-color);
  margin-top: 14px;
  margin-right: 1rem;
  flex-shrink: 0;
}
.theme-section-output h2 {
  font-size: 52px;
  margin: 4rem 0 3rem;
}
.theme-section-output h3 {
  font-size: 36px;
  margin: 3.5rem 0 2.5rem;
}
.theme-section-output h4 {
  font-size: 28px;
  margin: 3rem 0 2rem;
}
.theme-section-output a {
  color: var(--highlight-color);
}
.theme-background {
  padding: 4rem 0 6rem;
  background-color: var(--background-secondary-color);
  border-radius: var(--border-radius);
}
@media (max-width: 768px) {
  .theme-background {
    padding: 4rem 0;
  }
  .theme-background .theme-section-content, .theme-background .theme-section-header {
    padding: 0 1.5rem;
  }
}

.innerContainer {
  padding: 0 8rem;
}
@media (max-width: 1601px) {
  .innerContainer {
    padding: 0 3.5rem;
  }
}
@media (max-width: 991px) {
  .innerContainer {
    padding: 0 2.5rem;
  }
}
@media (max-width: 768px) {
  .innerContainer {
    padding: 0;
  }
}

.container-no-right {
  margin-right: 0;
  padding-right: 0;
}

.theme-weoffer-list ul {
  padding: 0;
  margin: 0;
}
.theme-weoffer-list ul li {
  list-style: none;
  background-image: url("../img/icon-tick-blue.png");
  background-position: top 5px left;
  background-repeat: no-repeat;
  padding-left: 3.75rem;
  margin-bottom: 0.75rem;
  font-weight: 500;
}
.theme-weoffer-button {
  margin: 2.5rem 0 0 3.75rem;
}
@media (max-width: 768px) {
  .theme-weoffer-button {
    margin: 2.5rem 0 0;
  }
  .theme-weoffer-button .button-custom {
    margin: 0 auto;
  }
}
.theme-weoffer-images {
  position: relative;
  height: 100%;
  max-height: 680px;
  margin-right: 5rem;
  margin-top: 2.3rem;
}
@media (max-width: 1200px) {
  .theme-weoffer-images {
    max-height: 520px;
  }
}
@media (max-width: 1400px) {
  .theme-weoffer-images {
    margin-right: 2rem;
  }
}
@media (max-width: 991px) {
  .theme-weoffer-images {
    height: 495px;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 3.5rem;
  }
}
@media (max-width: 768px) {
  .theme-weoffer-images {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}
@media (max-width: 576px) {
  .theme-weoffer-images {
    margin-right: 0rem;
    margin-left: 0rem;
  }
}
.theme-weoffer-images > img {
  z-index: 2;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius);
}
.theme-weoffer-images > img:nth-child(1) {
  top: 0;
  left: 0;
  width: 430px;
  height: 555px;
}
@media (max-width: 1200px) {
  .theme-weoffer-images > img:nth-child(1) {
    width: 360px;
    height: 365px;
  }
}
@media (max-width: 768px) {
  .theme-weoffer-images > img:nth-child(1) {
    width: 90%;
  }
}
.theme-weoffer-images > img:nth-child(2) {
  bottom: 0;
  right: 0;
  width: 400px;
  height: 385px;
}
@media (max-width: 1200px) {
  .theme-weoffer-images > img:nth-child(2) {
    width: 290px;
    height: 260px;
  }
}
@media (max-width: 768px) {
  .theme-weoffer-images > img:nth-child(2) {
    width: 90%;
  }
}
.theme-weoffer-images::after, .theme-weoffer-images::before {
  background-color: var(--background-secondary-color);
  content: "";
  z-index: 1;
  position: absolute;
  display: block;
  border-radius: var(--border-radius);
  opacity: 0.5;
}
@media (max-width: 576px) {
  .theme-weoffer-images::after, .theme-weoffer-images::before {
    content: none;
  }
}
.theme-weoffer-images::before {
  left: 6rem;
  width: calc(100% - 6rem);
  height: 300px;
  bottom: 2.25rem;
}
@media (max-width: 1200px) {
  .theme-weoffer-images::before {
    height: 200px;
  }
}
.theme-weoffer-images::after {
  left: -2rem;
  top: 9.75rem;
  height: 430px;
  width: 100%;
}
@media (max-width: 1200px) {
  .theme-weoffer-images::after {
    top: 3rem;
    height: 350px;
  }
}
@media (max-width: 576px) {
  .theme-weoffer-images::after {
    left: 0;
    width: 90%;
  }
}

.theme-equipment {
  margin-bottom: 2rem;
  padding-top: 3rem;
}
@media (max-width: 991px) {
  .theme-equipment {
    padding-top: 0rem;
  }
}
@media (max-width: 1400px) {
  .theme-equipment {
    margin-bottom: 0;
  }
}
@media (max-width: 991px) {
  .theme-equipment-list {
    margin-bottom: 5rem;
  }
}
@media (max-width: 576px) {
  .theme-equipment-list {
    margin-bottom: 3rem;
  }
}
.theme-equipment-list ul {
  margin: 2.5rem 0 0 0;
  padding: 0;
  list-style: none;
}
.theme-equipment-list ul li {
  display: flex;
  align-items: flex-start;
  font-family: var(--font2);
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 2rem;
}
.theme-equipment-list ul li::before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--highlight-color);
  margin-top: 17px;
  margin-right: 1rem;
  flex-shrink: 0;
}
.theme-equipment-images {
  height: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 1400px) {
  .theme-equipment-images {
    align-items: center;
  }
}
.theme-equipment-images-inner {
  position: relative;
}
@media (max-width: 1601px) {
  .theme-equipment-images-inner {
    margin-left: 3rem;
  }
}
@media (max-width: 991px) {
  .theme-equipment-images-inner {
    margin-left: 0;
  }
}
.theme-equipment-images-inner img {
  z-index: 2;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius);
  max-height: 390px;
  max-width: 470px;
}
@media (max-width: 1400px) {
  .theme-equipment-images-inner img {
    max-height: 335px;
    max-width: 400px;
  }
}
@media (max-width: 576px) {
  .theme-equipment-images-inner img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
  }
}
.theme-equipment-images-inner::after, .theme-equipment-images-inner::before {
  background-color: var(--background-secondary-color);
  content: "";
  z-index: 1;
  position: absolute;
  display: block;
  border-radius: var(--border-radius);
  opacity: 0.5;
}
@media (max-width: 576px) {
  .theme-equipment-images-inner::after, .theme-equipment-images-inner::before {
    content: none;
  }
}
.theme-equipment-images-inner::before {
  left: -2rem;
  top: -2rem;
  height: 290px;
  width: 260px;
}
.theme-equipment-images-inner::after {
  right: -2rem;
  bottom: -2rem;
  height: 350px;
  width: 300px;
}

.theme-services-item {
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 4rem;
}
@media (max-width: 768px) {
  .theme-services-item {
    padding-right: 0;
  }
}
.theme-services-body a, .theme-services-body a > h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  color: var(--button-color);
  margin-bottom: 0;
  display: block;
}
@media (max-width: 768px) {
  .theme-services-body a, .theme-services-body a > h3 {
    text-align: center;
  }
}
.theme-services-body a {
  margin-bottom: 1.5rem;
}
.theme-services-body p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
@media (max-width: 768px) {
  .theme-services-body p {
    text-align: center;
  }
}
.theme-services-footer a {
  font-size: 13px;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 600;
  display: flex;
  align-items: center;
  transition: 0.15s all;
}
@media (max-width: 768px) {
  .theme-services-footer a {
    justify-content: center;
  }
}
.theme-services-footer a:hover {
  text-decoration: none;
  color: var(--button-color);
}
.theme-services-footer a:hover span {
  background-color: var(--button-color);
}
.theme-services-footer span {
  flex-shrink: 0;
  background-color: var(--highlight-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 28px;
  aspect-ratio: 1/1;
  margin-right: 0.75rem;
  transition: 0.15s all;
}
.theme-services-icon {
  background-color: var(--background-color);
  width: 100px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}
.theme-services-icon img, .theme-services-icon svg {
  max-height: 68px;
}
@media (max-width: 768px) {
  .theme-services-icon {
    margin: 0 auto 1.5rem;
  }
}
.theme-services-owl .owl-nav {
  margin-top: 0;
}
@media (max-width: 768px) {
  .theme-services-owl .owl-nav {
    margin: 1.5rem auto 0 !important;
    display: flex;
    justify-content: center;
  }
}
.theme-services-owl .owl-nav .owl-prev, .theme-services-owl .owl-nav .owl-next {
  background-color: var(--button-color) !important;
  border-radius: 50%;
  width: 60px;
  aspect-ratio: 1/1;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .theme-services-owl .owl-nav .owl-prev, .theme-services-owl .owl-nav .owl-next {
    margin: 0 0.125rem !important;
  }
}
.theme-services-owl .owl-nav .owl-prev {
  display: none;
}
@media (max-width: 768px) {
  .theme-services-owl .owl-nav .owl-prev {
    display: flex;
  }
}
.theme-services-owl .owl-nav .owl-prev svg {
  transform: rotate(180deg);
}
.theme-services-owl .owl-nav .owl-next {
  position: absolute;
  right: 0;
  top: 20px;
}
@media (max-width: 768px) {
  .theme-services-owl .owl-nav .owl-next {
    position: unset;
  }
}

.theme-gallery-item {
  overflow: hidden;
  border-radius: var(--gallery-radius);
  display: block;
}
.theme-gallery-item img {
  border-radius: var(--gallery-radius);
  transition: 0.15s all;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}
.theme-gallery-item:hover img {
  transform: scale(1.1);
}
.theme-gallery-owl .owl-stage {
  left: -30px;
}
@media (max-width: 768px) {
  .theme-gallery-owl .owl-stage {
    left: -60px;
  }
}
.theme-gallery-owl .owl-nav {
  margin-top: 0;
}
.theme-gallery-owl .owl-nav .owl-prev {
  display: none;
}
.theme-gallery-owl .owl-nav .owl-next {
  position: absolute;
  right: 2.1rem;
  top: 50%;
  transform: translate(0, -50%);
  background-color: var(--button-color) !important;
  border-radius: 50%;
  width: 60px;
  aspect-ratio: 1/1;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .theme-gallery-owl .owl-nav .owl-next {
    right: 1.5rem;
  }
}

.footer {
  padding: 5rem 0;
  background-color: var(--footer-color);
}
@media (max-width: 768px) {
  .footer {
    padding: 4rem 0 1.5rem;
  }
}
.footer-copyright {
  border-top: 1px solid var(--line-color-light);
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}
.footer-copyright p, .footer-copyright a {
  color: var(--secondary-color);
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .footer-copyright {
    text-align: center;
  }
}
.footer-menu {
  border-top: 1px solid var(--line-color-light);
  padding-top: 1.5rem;
  margin-top: 3rem;
}
.footer-menu ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
@media (max-width: 768px) {
  .footer-menu ul {
    flex-direction: column;
    align-items: center;
  }
}
.footer-menu ul li:not(:last-child) {
  margin-right: 1.5rem;
}
@media (max-width: 768px) {
  .footer-menu ul li:not(:last-child) {
    margin-right: 0;
  }
}
.footer-menu ul li a {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .footer-main {
    text-align: center;
  }
}
.footer-main-icon {
  flex-shrink: 0;
  margin-right: 1.5rem;
}
@media (max-width: 768px) {
  .footer-main-icon {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
}
.footer-main-icon span {
  background-color: var(--secondary-color);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-main-box .theme-section-output > * {
  color: var(--secondary-color);
}
.footer-main-title {
  color: var(--secondary-color);
  font-family: var(--font);
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.footer-main-phone {
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  letter-spacing: -0.05rem;
  display: block;
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .footer-main-phone {
    font-size: 28px;
    line-height: 36px;
  }
}
.footer-socials {
  margin-left: auto;
  width: fit-content;
  width: -moz-fit-content;
}
@media (max-width: 1200px) {
  .footer-socials {
    margin-left: 0;
    margin-top: 3rem;
  }
}
@media (max-width: 768px) {
  .footer-socials {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer-socials ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.footer-socials ul li:not(:last-of-type) {
  margin-right: 0.5rem;
}
.footer-socials svg path {
  fill: var(--footer-color);
}
.footer-socials a {
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  transition: 0.15s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-socials a:hover {
  box-shadow: 0px 0px 14px -3px var(--secondary-color);
}
.footer-socials a:hover img {
  animation: shake 1300ms;
}

.theme-contactForm {
  margin-bottom: 7rem;
}
@media (max-width: 768px) {
  .theme-contactForm {
    margin-bottom: 5rem;
  }
}
.theme-contactForm form {
  padding: 5rem 7rem;
  background-color: var(--background-secondary-color);
  border-radius: var(--input-radius);
}
@media (max-width: 768px) {
  .theme-contactForm form {
    padding: 3rem 3rem 3rem;
  }
}
.theme-contactForm form input:not([type=submit]), .theme-contactForm form .form__input:not([type=submit]), .theme-contactForm form textarea:not([type=submit]) {
  padding: 1rem 1.5rem;
  color: var(--primary-color);
  font-size: 14px;
  width: 100%;
  font-weight: 600;
  border: 1px solid transparent;
  margin-bottom: 30px;
  border-radius: var(--input-radius);
}
@media (max-width: 768px) {
  .theme-contactForm form input:not([type=submit]), .theme-contactForm form .form__input:not([type=submit]), .theme-contactForm form textarea:not([type=submit]) {
    margin-bottom: 10px;
  }
}
.theme-contactForm form input::-moz-placeholder, .theme-contactForm form .form__input::-moz-placeholder, .theme-contactForm form textarea::-moz-placeholder {
  color: var(--primary-color);
  font-weight: 600;
}
.theme-contactForm form input::placeholder, .theme-contactForm form .form__input::placeholder, .theme-contactForm form textarea::placeholder {
  color: var(--primary-color);
  font-weight: 600;
}
.theme-contactForm form textarea {
  min-height: 150px;
  resize: none;
}
.theme-contactForm form input[type=submit] {
  margin: 30px auto 0;
}
@media (max-width: 768px) {
  .theme-contactForm form input[type=submit] {
    margin: 15px auto 0;
  }
}

@media (min-width: 1601px) {
  .container {
    max-width: 1540px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 1800px) {
  .container {
    max-width: 1680px;
    padding-left: 15px;
    padding-right: 15px;
  }
}/*# sourceMappingURL=main.css.map */