// Defaults
@import "defaults/variables.scss";
@import "defaults/resets.scss";
@import "defaults/functions.scss";

// Components
@import "components/header.scss";
@import "components/buttons.scss";
@import "components/banners.scss";
@import "components/sections.scss";
@import "components/weoffer.scss";
@import "components/equipment.scss";
@import "components/services.scss";
@import "components/gallery.scss";
@import "components/footer.scss";
@import "components/contactform.scss";
@import "components/contactform2.scss";
@import "components/contact.scss";
@import "components/map.scss";
@import "components/flashMessages.scss";


// Style 
html {
    scroll-behavior: smooth;
  }
@media (min-width: map-get($breaks, "xxl")) {
    .container {
        max-width: 1540px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (min-width: map-get($breaks, "xxxl")) {
    .container {
        max-width: 1680px;
        padding-left: 15px;
        padding-right: 15px;
    }
}