.button-custom {
    @include flexCenter();
    @include widthFit();
    font-size: 12px;
    letter-spacing: .1rem;
    padding: .8rem 2.25rem;
    text-align: center;
    border: 2px solid;
    transition: 0.25s;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: var(--button-radius);
    &:hover {
        text-decoration: none;
    }
}
.button-custom-darkblue {
    background-color: var(--button-color);
    color: var(--secondary-color);
    border-color: var(--button-color);
    &:hover {
        background-color: var(--button-color);
        color: var(--button-color);
        box-shadow: inset 15rem 0 0 0 var(--secondary-color);
        svg, path {
            fill: var(--button-color) !important;
        }
    }
}
.button-custom-lightblue {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    border-color: var(--highlight-color);
    &:hover {
        background-color: var(--highlight-color);
        color: var(--highlight-color);
        box-shadow: inset 15rem 0 0 0 var(--secondary-color);
        svg, path {
            fill: var(--highlight-color) !important;
        }
    }
}
.button-custom-icon svg, .button-custom-icon img {
    margin-right: .5rem
}