.theme {
    &-section {
        padding: 6rem 0;
        @include media("md") {
            padding: 4rem 0;
        }
        &-header {
            &-small {
                font-size: 17px;
                text-transform: uppercase;
                font-weight: 700;
                margin-bottom: .5rem;
            }
            h2{
                font-size: 70px;
                line-height: 70px;
                font-weight: 500;
                margin-bottom: 3.5rem;
                @include media("md") {
                    font-size: 55px;
                    line-height: 55px;
                }
                span {
                    font-family: var(--font2);
                    @include min-media("xl") {
                        display: block;
                    }
                }
            }
            @include media("md") {
                text-align: center;
            }
        }
        &-reducedPadding {
            padding: 1rem 0;
        }
        &-output {
            & > *:first-child {
                margin-top: 0;
            }
            & > *:last-child {
                margin-bottom: 0;
            }
            p, li, td, th {
                font-family: var(--font);
                font-size: 16px;
                line-height: 32px;
                font-weight: 400;
                color: var(--primary-color);
            }
            table {
                width: 100%;
                thead tr {
                    background-color: var(--table-header-color);
                    th {
                        font-weight: 500;
                    }
                }
                tbody tr {
                    &:nth-child(odd) {
                        background-color: var(--table-color);
                    }
                }
                th, td {
                    padding: .75rem 2.5rem;
                }
            }
            ul {
                padding: 0;
                li {
                    list-style: none;
                    display: flex;
                    align-items: flex-start;
                    &::before {
                        content: "";
                        display: block;
                        width: 15px;
                        height: 2px;
                        background-color: var(--highlight-color);
                        margin-top: 14px;
                        margin-right: 1rem;
                        flex-shrink: 0;
                    }
                }
            }
            h2 {
                font-size: 52px;
                margin: 4rem 0 3rem;
            }
            h3 {
                font-size: 36px;
                margin: 3.5rem 0 2.5rem;
            }
            h4 {
                font-size: 28px;
                margin: 3rem 0 2rem;
            }
            a {
                color: var(--highlight-color);
            }
        }
    }
    &-background {
        padding: 4rem 0 6rem;
        background-color: var(--background-secondary-color);
        border-radius: var(--border-radius);
        @include media("md") {
            padding: 4rem 0;
            .theme-section-content, .theme-section-header {
                padding: 0 1.5rem;
            }
        }
    }
}
.innerContainer {
    padding: 0 8rem;
    @include media("xxl") {
        padding: 0 3.5rem;
    }
    @include media("lg") {
        padding: 0 2.5rem;
    }
    @include media("md") {
        padding: 0;
    }
}
.container-no-right {
    margin-right: 0;
    padding-right: 0;
}