:root {
    --table-color: #f6f9fc;
    --table-header-color: #e8f2fc;
    --primary-color: #000;
    --secondary-color: #ffffff;
    --paragraph-color: #000;
    --menu-color: #000;
    --highlight-color: #55caf5;
    --button-color: #103683;
    --background-color: #ffffff;
    --background-secondary-color: #e8f2fc;
    --section-preTitle-background-color: #f4f4f4;
    --section2-preTitle-background2-color: #ffffff;
    --section-preTitle-color: #575656;
    --services-boxes-color: #f1f8fd;
    --news-date-color: #ababab;
    --border-color: #e8f2fc;
    --news-border-color: #eaecf0;
    --highlight-light-color: #e1f3ff;
    --socials-icon-color: #343434;
    --footer-icon-color: #808080;
    --footer-color: #c9b6a6;
    --copyright-color: #a2a2a2;
    --border-radius: 10px;
    --numbers-number-color: #55caf5;
    --link-color: #55caf5;
    --numbers-number-background: #fff;
    
    --font: "Poppins", sans-serif;
    --font2: "Barlow Condensed", sans-serif;
    --button-radius: 25px;
    --border-radius: 20px;
    --input-radius: 5px;
    --gallery-radius: 10px;
    --popup-radius: 15px;
    --section-light-color: #f3f8fd;
    --line-color-light: #ffffff38;

    --header-background: url("../img/section-breadcrumb-image.png");
}
  
$breaks: (
    "sm": 576px,
    "md": 768px,
    "lg": 991px,
    "xl": 1200px,
    "xxl": 1601px,
    "xxxl": 1800px,
);
